@charset "utf-8";
body {
  background-color: #221f38;
  margin:0;
  font-family: 'Courier New', Courier, monospace;
  color: #f2f2f2;
}

main{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.topNav {
  overflow: hidden;
  background-color: #474173;
  height: 150px;



  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, 
			color-stop(0.30,  rgba(0,0,0,1)),
			color-stop(1.00,  rgba(0,0,0,0)));
  mask-image: -webkit-gradient(linear, center top, center bottom, 
			color-stop(0.50,  rgba(0,0,0,1)),
			color-stop(1.00,  rgba(0,0,0,0)));
}
  
.topNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
}
  
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  text-align: center;
  color: #f2f2f2;
  font-size: 75px;
  cursor: pointer;
}



  
.topNav div.burgerBox {
  position: absolute;
  top: 13px;
  right: 10px;
  background-color: #474173;
  color: white;
  cursor: pointer;
}

.burger1, .burger2, .burger3 {
  width: 50px;
  height: 7px;
  background-color: #221f38;
  margin: 14px 15px;
  border-radius: 10px;
  transition: 0.4s;
}
